.jumbotron{
    background: url('../../../assets/img/principal.jpg') #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0 ;
}
.jumbotron .display-6{
    color: #fff;  
}

.jumbotron .lead{
    color: #fff; 
}

.jumbotron .descripcion{
    color: #fff;
}

.mapa{
    margin-top: -30px;
}