<!--Header-->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/crear-usuario']" id="crear-usuario">Crear Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/crear-reserva']" id="crear-reserva">Crear Reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/eliminar-reserva']" id="eliminar-reserva">Reservas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/eliminar-usuario']" id="usuario">Usuarios</a>
    </li>
</ul>

<!--Main-->
<div class="jumbotron">
    <h1 class="display-6">HOTEL MANAGER</h1>
    <p class="lead">Aplicacion hecha para la reservacion de habitaciones en los hoteles</p>
    <hr class="my-4">
    <p class="descripcion">It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

<!--Map-->  
<section class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63469.54382736759!2d-75.40855032089843!3d6.151308000000018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469f0fb590368b%3A0x3277f183057fd238!2sHotel%20Oasis%20Rionegro!5e0!3m2!1sen!2sco!4v1574130915276!5m2!1sen!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>

<!--Footer-->
<footer>
    <div class="contenedor">
        <div class="copyrigth">
            <p>Copyrigth CEIBA SOFTWARE 2019</p>
        </div>
    </div>
  </footer>
