<div class="jumbotron">
  <h1 class="display-6">CREAR RESERVA</h1>
  <form #form="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCedula">Numero cedula</label>
        <input type="number" class="form-control" id="inputCedula" placeholder="Cedula ciudadania"
          [(ngModel)]="reserva.numeroCedula" name="numeroCedula">
      </div>
      <div class="form-group col-md-6">
        <label for="inputNumeroHabitacion">Numero Habitacion</label>
        <input type="text" class="form-control" id="inputNumeroHabitacion" placeholder="Numero Habitacion"
          [(ngModel)]="reserva.numeroHabitacion" name="numeroHabitacion">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputCantidadPersonas">Cantidad personas</label>
        <input type="number" class="form-control" id="inputCantidadPersonas" placeholder="cantidadPersonas"
          [(ngModel)]="reserva.cantidadPersonas" name="cantidadPersonas">
      </div>
      <div class="form-group col-md-4">
        <label for="inputFechaIngreso">Fecha Ingreso</label>
        <input type="date" class="form-control" id="inputFechaIngreso" placeholder="YYYY-MM-DD"
          [(ngModel)]="reserva.fechaIngreso" name="fechaIngreso">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputFechaSalida">Fecha salida</label>
        <input type="date" class="form-control" id="inputFechaSalida" placeholder="YYYY-MM-DD"
          [(ngModel)]="reserva.fechaSalida" name="fechaSalida">
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-primary" (click)="OnSubmit(form)" id="btnCrearReserva">Crear</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger"  [routerLink]="['/principal']">Volver</button>   
    </div> 
  </form>
</div>

