<form #form="ngForm">
    <div class="card border-primary mb-3">
        <div class="card-header">Usuarios</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Listado de Usuarios</h5>
          <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/crear-usuario']">
              Crear Usuario
            </button>
          </div>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>idUsuario</th>
                <th>cedula Ciudadania</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Numero Celular</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuario">
                <td>{{ usuario.idUsuario }} </td>
                <td>{{ usuario.cedulaCiudadania }}</td>
                <td>{{ usuario.primerNombre }}</td>
                <td>{{ usuario.segundoNombre }}</td>
                <td>{{ usuario.primerApellido }}</td>
                <td>{{ usuario.segundoApellido }}</td>
                <td>{{ usuario.numeroCelular }}</td>
                <td>
                    <button type="button" name="actualizar" class="btn btn-danger btn-sm"  (click)='eliminar(usuario)'>Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
      
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger"  [routerLink]="['/principal']">Volver</button>   
          </div>  
        </div>
      </div>
    </form>
